# Boring file regexps:
*.scssc
*.sassc
*~
/.hg
/.hgtags
*.orig
*.patch
*.pyc
*.pyo
__pycache__/
py/
pydev/
/*.gitk-tmp*
*.*.swp

# sage files to ignore:
/build
/dist
MANIFEST
PKG-INFO
release_notes.txt
/sass/src/.sass-cache
/sagewui/data/jmol
/sagewui.egg-info
sagewui/data/jsmath/fonts
/setup.cfg
.ropeproject
/tmp
